<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/x-icon" href=" {% static 'img/favicon.ico' %} ">
<link rel="stylesheet" href=" {% static 'css/plugins.css' %} ">
<link rel="stylesheet" href=" {% static 'css/style.css' %}"> 
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
{% block css %}{% endblock css %}
<body style="background:black;">
    <div class="navbar menu navbar-dark bg-none mb-5 navbar-expand-sm fixed-top" style="background:none; color:white;">
    <div class="container">
      <h1 class="text-center text-white" style="font-family:Blackadder ITC;"> <a class="text-center text-white"
          href="/"> Notification APP</a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto font-weight-bold">
          <li class="nav-item"> <a href="/" class="nav-link">Home</a> </li>
          {% if user.is_authenticated %}
          <li class="nav-item"> <a href="{% url 'logout' %}" class="nav-link">Logout</a> </li>
          <li class="nav-item"> <a href="" class="nav-link">Chat List</a> </li>
          {% else %}
          <h4><a href=""></a></h4>
          <li class="nav-item"> <a href="" class="nav-link">Login</a> </li>
          {% endif %}
          
        </ul>
      </div>
    </div>
  </div>


  <div class="pt-5">
    {% for message in messages %}

    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong></strong> {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    {% endfor %}
  </div>
  <br>
    

     {% block body %}{% endblock body %}
</body>
 <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vue1/vue.js' %}"></script>
<script src="{% static 'vue1/vuex.js' %}"></script>
<script src=" {% static 'js/plugins.js' %} "></script>
<script src=" {% static 'js/main.js' %} "></script>
{% block js %}{% endblock js %}
</html>