{% extends 'basic.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3 text-white fixed">
            With: {{ roomname|json_script:"room-name" }}
            {% if user.is_authenticated %} 
            <h5 class="text-white">Your Available groups:</h5>
                {% for group in groups %}
                <h6 class="text-white"><a href="/chat/groupchat/{{group.group_name}}/">{{group.group_name_to_show}}</a></h6>
                {% endfor %}
            <h5 class="text-white">Your Available rooms:</h5>
                {% for use in users %}
                <h6 class="text-white"><a href="/chat/chatwith/{{use.username}}/">{{use.username}}</a></h6>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock body %}